.homepage_header {
  margin: 10px;
  justify-content: center;
  align-items: center;

  .header_logo {
    width: 120px;
    height: 50px;
    float: right;
    margin-right: 50px;
  }

  button {
    margin-right: 10px;
  }
}
